* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Calibri';
  src: url("fonts/Calibri.eot") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype"), url("fonts/Calibri.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }

body {
  font-family: "Calibri"; }

#my-navbar {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.95);
  background-image: linear-gradient(to right, #f6f6f6 0%, #ffffff 42%, #ffffff 100%);
  opacity: 0.95; }

.navbar-nav {
  width: 100%; }
  .navbar-nav li {
    padding-left: 8px;
    margin: 0 18px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 15px; }
    .navbar-nav li a {
      color: black !important; }
  .navbar-nav__adv {
    background: url(img/icon-advantages.png) left no-repeat; }
  .navbar-nav__pla {
    background: url(img/icon-plan.png) left no-repeat; }
  .navbar-nav__con {
    background: url(img/icon-contacts.png) left no-repeat; }
  .navbar-nav__doc {
    background: url(img/icon-documents.png) left no-repeat; }
  .navbar-nav__pho {
    background: url(img/icon-photo.png) left no-repeat; }
  .navbar-nav__loc {
    background: url(img/icon-location.png) left no-repeat; }

.main {
  position: relative;
  background: url(img/005.png) center no-repeat;
  background-size: cover; }
  .main__navigation {
    position: relative;
    height: 127px;
    margin: 0;
    border: none;
    border-radius: 0;
    background: url(img/1.png) right no-repeat;
    background-color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .main__logo {
    position: absolute;
    z-index: 222;
    left: 50%;
    top: 5px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .main__home {
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, 0.75);
    background-size: cover; }
  .main__headline-cont {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .main__headline {
    margin: 0;
    line-height: 1;
    color: #b8d91e;
    font-size: 3.75rem;
    font-weight: 700;
    text-transform: uppercase; }
  .main__text {
    margin: 5px 0 10px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase; }
  .main__btn {
    margin-top: 47px;
    padding: 25px 36px 23px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    border: none;
    border-radius: 30px;
    background-color: white;
    outline: none; }
  .main__scroll-down {
    display: block;
    padding-top: 80px;
    width: 84px;
    height: 85px;
    background: url(img/scroll-down.png) center no-repeat;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 142px auto 0; }
    .main__scroll-down:hover, .main__scroll-down:focus {
      color: white;
      text-decoration: none; }
  .main__can-cont {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: -70px;
    background: transparent;
    background: url(img/zdano.png) 75% 0% no-repeat; }

.adv {
  background: #f7f7f8;
  padding: 100px 0;
  text-align: center; }
  .adv__item {
    width: 270px;
    height: 360px;
    margin: 0 15px;
    display: inline-block;
    padding-top: 200px;
    box-shadow: 0 5px 15px rgba(77, 91, 15, 0.15);
    border-radius: 10px;
    border: 1px solid white;
    background-color: #ffffff; }
  .adv__headline {
    font-size: 1.5625rem;
    font-weight: 700; }
  .adv__paragraph {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    color: #8d8d8d; }

.wood {
  background: url(img/wood.png) 50% 30% no-repeat; }

.location {
  background: url(img/location.png) 50% 30% no-repeat; }

.comunication {
  background: url(img/comunication.png) 50% 30% no-repeat; }

.earth {
  background: url(img/earth.png) 50% 30% no-repeat; }
